<main id="body-container">
    <h2>Welcome {{user.username}}, rol: {{user.role}}</h2>
    <button id="catalog">Products Catalog</button>
    <button id="edit_catalog">Edit Products Catalog</button>
</main>
<script src="/static/js/home.js"></script>