<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

<div class="login">
    <h2 class="active "> sign Up </h2>
    <a href="/" class="press"> sign In </a>

    <form action="/register" method="post">
        <input type="text" class="text" name="email">
        <span>email</span>
        <br>
        <br>
        <input type="text" class="text" name="username">
        <span>username</span>
        <br>
        <br>
        <input type="password" class="text" name="password">
        <span>password</span>
        <br>
        <button class="signin">
            Register
        </button>
        <hr>
    </form>

</div>